.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    list-style-type: none;

    padding: 0;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.listItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;



    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.listItem__originalUrl {
    width: 100%;
    color: var(--color-neutral-very-dark-violet);
    border-bottom: 1px solid var(--color-divider);

    padding: 0.7rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.listItem__shortenedUrl {
    color: var(--color-primary-cyan);
    padding: 0 0.7rem;
}

.listItem__copyButton {
    border-radius: 10px;
    margin: 0 0.7rem 0.7rem;
    width: calc(100% - 2 * 0.7rem);
}

.listItem__copyButton--active {
    background-color: var(--color-primary-dark-violet)
}

@media (min-width: 429px) {
    .list {
        gap: 0;
    }

    .listItem {
        display: grid;
        grid-template-columns: 4fr 2fr 1fr;
        align-items: center;

        margin: 1rem 0;
        padding: 1rem 2rem;
    }

    .listItem__originalUrl {
        border-bottom: none;
    }
}