    .bottomCtaWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        background-color: var(--color-primary-dark-violet);
        background-image: url('../../assets/bg-boost-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;

        color: white;
        text-align: center;

        padding: 5rem 0;
    }

    .header {
        font-size: 1.7rem;
    }

    .getStartedButton {
        font-size: 1.3rem;
        padding: 1rem 3rem;
    }

@media (min-width: 429px) {
    .bottomCtaWrapper {
        background-image: url('../../assets/bg-boost-desktop.svg');
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        gap: 2rem;
    }

    .header {
        font-size: 3rem;
    }

    .getStartedButton {
        font-size: 1.5rem;
    }
}

